@page
@model NDDC_Website_2024.Pages.Services.ProjectDatabase.SearchResultsModel
@{
}
<section class="blog-section">
    <div class="container">
        <div class="blog-box lh-lg container">
            <h1 class="section-title fs-4">Search Results</h1>
            <div class="">
                <form class="row g-0 text-white mb-3 lh-sm bg-white py-4 text-center align-items-center" method="post">
                    <div class="col-auto col-md-4 col-lg-5 bg-light">
                        <label for="staticEmail2" class="visually-hidden">Name</label>
                        <input type="text" asp-for="@Model.Project.ProjectName" class="form-control bg-light" placeholder="Enter Project Name">
                    </div>
                    <div class="col-auto col-md-3 bg-light">
                        @* <select class="form-control form-select bg-light" aria-label="Location" id="location">
                        <option selected>Choose State</option>
                        <option value="1">NDDC Ongoing Project</option>
                        <option value="2">NDDC Abandoned Project</option>
                        <option value="3">Poor Project Quality</option>
                        <option value="4">Incompetent Contractor</option>
                        <option value="5">NDDC Employee</option>
                        <option value="6">NDDC Program</option>
                        <option value="7">Other</option>
                        </select> *@
                        <select class="form-control form-select bg-light" asp-for="@Model.Project.SID" asp-items="@(new SelectList(Model.States, "SID", "StateName"))">
                            <option value="0">Select State</option>
                        </select>
                    </div>
                    <div class="col-auto col-md-4 col-lg-3 bg-light">
                        @* <select class="form-control form-select bg-light" aria-label="Project Type" id="location">
                        <option selected>Choose Project Type</option>
                        <option value="1">NDDC Ongoing Project</option>
                        <option value="2">NDDC Abandoned Project</option>
                        <option value="3">Poor Project Quality</option>
                        <option value="4">Incompetent Contractor</option>
                        <option value="5">NDDC Employee</option>
                        <option value="6">NDDC Program</option>
                        <option value="7">Other</option>
                        </select> *@
                        <select class="form-control form-select bg-light" asp-for="@Model.Project.PCID" asp-items="@(new SelectList(Model.ProjectCategories, "PCID", "CatName"))">
                            <option value="0">Select Category</option>
                        </select>
                    </div>
                    <div class="col-auto pt-lg-0">
                        <button type="submit" class="btn btn-primary px-2"><i class="flaticon-search-interface-symbol"></i></button>
                    </div>
                </form>
            </div>
            <section class="justify-content-center d-flex">
                <div class="container m-0 p-0">
                   <div class="overflow-hidden bg-white shadow-md rounded-lg">
                        <div class="border-bottom border-gray-200">
                            <h2 class="text-lg fs-4 fw-semi-bold text-gray-900 py-4 mb-0">Latest Projects</h2>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-start text-xs fw-medium text-gray-500 uppercase">S/N</th>
                                    <th scope="col" class="text-start text-xs fw-medium text-gray-500 uppercase">Project Title</th>
                                    <th scope="col" class="text-start text-xs fw-medium text-gray-500 uppercase">LGA</th>
                                    <th scope="col" class="text-start text-xs fw-medium text-gray-500 uppercase">State</th>
                                    <th scope="col" class="text-start text-xs fw-medium text-gray-500 uppercase">Category</th>
                                    <th scope="col" class="text-start text-xs fw-medium text-gray-500 uppercase"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Projects != null)
                                {
                                    foreach (var item in Model.Projects)
                                    {
                                        <!-- Repeat this tr for each project -->
                                        <tr>
                                            <td class="px-6 py-4" style="font-size: smaller;">@item.SrNo</td>
                                            <td class="px-6 py-4" style="font-size: smaller;">@item.ProjectName</td>
                                            <td class="px-6 py-4" style="font-size: smaller;">@item.Location</td>
                                            <td class="px-6 py-4" style="font-size: smaller;">@item.StateName</td>
                                            <td class="px-6 py-4" style="font-size: smaller;">@item.CatName</td>
                                            <td class="px-6 py-4" style="font-size: smaller;"><a asp-page="StateDetails">View</a></td>
                                        </tr>
                                        <!-- ... other projects ... -->
                                    }
                                }


                            </tbody>
                        </table>

                        @if (Model.Projects == null)
                        {
                            <p class="text-start text-xs fw-medium text-black-500 uppercase">No Projects Found ....</p>
                        }
                    </div>
                </div>
                @*  has context menu *@
            </section>
        </div>
    </div>
</section>