@page
@model NDDC_Website_2024.Pages.NewsModel
@{
}
@* <section class="page-banner mb-5">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="index.html">Home</a></li>
				<li>News</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>News</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->			
</section><!--page-banner--> *@
<section class="blog-section blog-section-two p-5">
	<div class="row">
		<div class="section-title-box text-center">
			<div class="section-tagline">News</div>
			<h2 class="section-title">Check Out Our Latest News</h2>
		</div>
		<div class="d-flex">
			<div class="col-lg-4">
				<div class="sidebar">
					<div class="sidebar-form-content">
						<div class="sidebar__item sidebar__item--search">
							<form action="#" class="sidebar__search">
								<label for="search" class="sr-only">search here</label><!-- sr-only -->
								<input type="text" placeholder="Search Here">
								<button type="submit" aria-label="search submit" class="thm-btn">
									<i class="flaticon-search-interface-symbol"></i>
								</button><!-- thm-btn -->
							</form><!-- sidebar__search -->
						</div><!-- sidebar__item -->
					</div><!-- sidebar-form-content -->
					<div class="sidebar-widget sidebar-widget-recent-category">
						<div class="sidebar-widget-recent-category-box">
							<h4 class="section-title text-left">Categories</h4>
							<ul class="list-unstyled">
								<li><a href="/News/NewsDetails">Corporate Affairs<i class="fa-solid fa-chevron-right"></i></a></li>
								<li><a href="/News/NewsDetails">Project Monitoring and Supervision<i class="fa-solid fa-chevron-right"></i></a></li>
								<li><a href="/News/NewsDetails">Information Technology <i class="fa-solid fa-chevron-right"></i></a></li>
								<li><a href="/News/NewsDetails">Agric<i class="fa-solid fa-chevron-right"></i></a></li>
							</ul><!-- list-unstyled -->
						</div><!-- sidebar-widget-recent-category-box -->
					</div><!-- sidebar-widget-one sidebar-widget-recent-category -->
					<div class="sidebar-widget sidebar-widget-tag d-none d-lg-block">
						<h4>Tags</h4>
						<div class="sidebar-widget-tag-inner">
							<a href="/News/NewsDetails">Corporate Affairs</a>
							<a href="/News/NewsDetails">Project Monitoring and Supervision</a>
							<a href="/News/NewsDetails">Information Technology</a>
							<a href="/News/NewsDetails">Agric</a>
						</div><!-- sidebar-widget-tag-inner -->
					</div><!-- sidebar-widget sidebar-widget-tag -->
				</div><!-- sidebar -->
			</div>
			<div class="col-lg-8">
				<div class="row row-gutter-y-155 m-0">
					@foreach (var item in Model.NewsList)
                {
					<div class="col-lg-6">
						<div class="blog-card">
							<div class="blog-card-image">
									<img src="@Model._containerUrl@item.ImageUrl" width="600" height="200" class="mw-100"  alt="img-184">
								<a href="/News/NewsDetails"></a>
							</div><!-- blog-card-image -->
							<div class="blog-card-date">
									<a href="/News/NewsDetails">@item.PublishDate.ToString("dd/MM/yy")</a>
							</div><!-- blog-card-date -->
							<div class="blog-card-content">
								<div class="blog-card-meta">
									<span class="author">
										by<a href="/News/NewsDetails">@item.CreatedBy</a>
									</span><!-- author -->
								</div><!-- blog-card-meta -->
								<div class="" style="height: 12rem;overflow: hidden;">
									<h5 style="height: 4.5rem;overflow: hidden;"><a href="/News/NewsDetails">@item.Subject</a></h5>
									<p style="height: 6rem; overflow: hidden;">
										@item.Summary
									</p>
								</div>
								<span>
									<a class="text-success pt-5" asp-route-nid="@item.NID" asp-page="NewsDetails">Read more</a>
								</span><!-- comment -->	

							</div><!-- blog-card-content -->
						</div><!-- blog-card -->	
					</div><!-- col-lg-6 col-xl-4 -->
					}
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="blog-pagination-outer">
				<div class="blog-pagination float-end">
						<a class="prev page-numbers" href="#"><b><i class="fa-solid fa-chevron-left"></i></b></a>
						<span class="page-numbers current"><b>01</b></span>
						<a class="page-numbers" href="#"><b>02</b></a>
						<a class="page-numbers" href="#"><b>03</b></a>
						<a class="page-numbers" href="#"><b>04</b></a>
						<a class="next page-numbers" href="#"><b><i class="fa-solid fa-chevron-right"></i></b></a>
				</div>
			</div>
	</div>
	</div>
</section>
